body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
}
aside{
    flex: 1;
    overflow-y: auto;
}
h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(27, 113, 199);
    
}
header{
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
}
header a{
    color: rgb(27, 113, 199);
    cursor: pointer;
}
a:hover{
    color: orange;
}
a:active{
    color: red;
}
img{
    width: 60%;
    height: 15%;
}
table, tr, th, td{
    border: 2px solid rgb(27, 113, 199);
    align-items: center;
    text-decoration: none;
}
thead tr {
    font-weight: bold;
    text-transform: uppercase;

}
table{
    width: 80%;
    vertical-align: bottom;
}
th, td{
    padding: 16px;
}
tr:hover{
    background-color: orange;
}
footer p{
    text-align: center;
    justify-content: center;
}